<!DOCTYPE html>   
<html lang="en">   
  <head>   
    <meta charset="utf-8">   
    <title>Recommendations</title>   
    <link href="/twitter-bootstrap/docs/assets/css/bootstrap.css" rel="stylesheet">   
  </head>  
  <body>
    <h3>Wine Recommendations Demo</h3>

    <table class="table table-striped">  
      <thead>  
        <tr>  
          <th>Name</th>  
          <th>Sweetness</th>  
          <th>Type</th>  
          <th>Body</th>  
          <th>Vintage</th>  
          <th>Varietal</th>  
        </tr>  
      </thead>  
      <tbody>  
        <tr>  
          <td><%= @wine.name %></td>  
          <td><%= @wine.sweetness %></td>  
          <td><%= @wine.wine_type %></td>  
          <td><%= @wine.body %></td>  
          <td><%= @wine.vintage %></td>  
          <td><%= @wine.varietal %></td>  
        </tr>  
      </tbody>
    </table>

    <h4>Recommendations:</h4>

    <table class="table table-striped">  
      <thead>  
        <tr>  
          <th>Name</th>  
          <th>Sweetness</th>  
          <th>Type</th>  
          <th>Body</th>  
          <th>Vintage</th>  
          <th>Varietal</th>  
          <th>Similarity Score</th>  
        </tr>  
      </thead>  
      <tbody>  
        <% @recommendations.each do |wine, similarity_score| %>
          <tr>  
            <td><%= wine.name %></td>  
            <td><%= wine.sweetness %></td>  
            <td><%= wine.wine_type %></td>  
            <td><%= wine.body %></td>  
            <td><%= wine.vintage %></td>  
            <td><%= wine.varietal %></td>  
            <td><%= similarity_score %></td>  
          </tr>  
        <% end %>
      </tbody>
    </table>
  </body>
</html>
